### 관광객 데이터 전처리

### 데이터 로드

In [51]:
# kto_201901.xlsx 불러오기
# 컬럼명과 컬럼 데이터만 불러오기

In [52]:
import pandas as pd
import matplotlib as mpl # 그림 그리기
import matplotlib.pylab as plt # 그림 그리기
import seaborn as sns 
import numpy as np

In [53]:
file_path = './files/kto_201901.xlsx'
kto_201901 = pd.read_excel(file_path
                           , header = 1
                           , skipfooter = 4
                           , usecols = 'A:G') # df = pd.read_csv(file_path, encoding = 'euc-kr')
kto_201901

         국적      관광     상용    공용  유학/연수      기타       계
0      아시아주  765082  10837  1423  14087  125521  916950
1        일본  198805   2233   127    785    4576  206526
2        대만   86393     74    22    180    1285   87954
3        홍콩   34653     59     2     90    1092   35896
4       마카오    2506      2     0     17      45    2570
..      ...     ...    ...   ...    ...     ...     ...
62  아프리카 기타     768    718    90    206     908    2690
63     기타대륙      33      4     0      1      16      54
64     국적미상      33      4     0      1      16      54
65     교포소계       0      0     0      0   15526   15526
66       교포       0      0     0      0   15526   15526

[67 rows x 7 columns]

In [54]:
kto_201901.info() # 기본 정보 및 null 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국적      67 non-null     object
 1   관광      67 non-null     int64
 2   상용      67 non-null     int64
 3   공용      67 non-null     int64
 4   유학/연수   67 non-null     int64
 5   기타      67 non-null     int64
 6   계       67 non-null     int64
dtypes: int64(6), object(1)
memory usage: 3.8+ KB

In [55]:
kto_201901.describe()

,관광,상용,공용,유학/연수,기타,계
count,67.00000,67.000000,67.000000,67.000000,67.000000,67.000000
mean,26396.80597,408.208955,132.507463,477.462687,5564.208955,32979.194030
std,102954.04969,1416.040302,474.406339,2009.484800,17209.438418,122821.369969
min,0.00000,0.000000,0.000000,0.000000,16.000000,54.000000
25%,505.00000,14.500000,2.500000,17.500000,260.000000,927.000000
50%,1304.00000,45.000000,14.000000,43.000000,912.000000,2695.000000
75%,8365.00000,176.500000,38.000000,182.000000,2824.500000,14905.500000
max,765082.00000,10837.000000,2657.000000,14087.000000,125521.000000,916950.000000

In [56]:
tmp = kto_201901[(kto_201901['관광'] == 0)
                | (kto_201901['상용'] == 0)
                | (kto_201901['공용'] == 0)
                | (kto_201901['유학/연수'] == 0)]
tmp

        국적    관광   상용  공용  유학/연수     기타      계
4      마카오  2506    2   0     17     45   2570
20    이스라엘   727   12   0      9     57    805
22  우즈베키스탄  1958  561   0    407   2828   5754
38     스위스   613   18   0     19     97    747
45     그리스   481   17   4      0    273    775
46    포르투갈   416   14   0     13    121    564
51   크로아티아   226   12   0      3    250    491
54     폴란드   713   10   0     27    574   1324
59  대양주 기타   555    3   4      0     52    614
63    기타대륙    33    4   0      1     16     54
64    국적미상    33    4   0      1     16     54
65    교포소계     0    0   0      0  15526  15526
66      교포     0    0   0      0  15526  15526

In [57]:
len(tmp)

13

In [58]:
# 년월에 대한 컬럼 추가
# 컬럼명 : 기준 년월
# 값 : 2019 - 01

kto_201901['기준년월'] = '2019-01'
kto_201901

         국적      관광     상용    공용  유학/연수      기타       계     기준년월
0      아시아주  765082  10837  1423  14087  125521  916950  2019-01
1        일본  198805   2233   127    785    4576  206526  2019-01
2        대만   86393     74    22    180    1285   87954  2019-01
3        홍콩   34653     59     2     90    1092   35896  2019-01
4       마카오    2506      2     0     17      45    2570  2019-01
..      ...     ...    ...   ...    ...     ...     ...      ...
62  아프리카 기타     768    718    90    206     908    2690  2019-01
63     기타대륙      33      4     0      1      16      54  2019-01
64     국적미상      33      4     0      1      16      54  2019-01
65     교포소계       0      0     0      0   15526   15526  2019-01
66       교포       0      0     0      0   15526   15526  2019-01

[67 rows x 8 columns]

In [59]:
kto_201901

         국적      관광     상용    공용  유학/연수      기타       계     기준년월
0      아시아주  765082  10837  1423  14087  125521  916950  2019-01
1        일본  198805   2233   127    785    4576  206526  2019-01
2        대만   86393     74    22    180    1285   87954  2019-01
3        홍콩   34653     59     2     90    1092   35896  2019-01
4       마카오    2506      2     0     17      45    2570  2019-01
..      ...     ...    ...   ...    ...     ...     ...      ...
62  아프리카 기타     768    718    90    206     908    2690  2019-01
63     기타대륙      33      4     0      1      16      54  2019-01
64     국적미상      33      4     0      1      16      54  2019-01
65     교포소계       0      0     0      0   15526   15526  2019-01
66       교포       0      0     0      0   15526   15526  2019-01

[67 rows x 8 columns]

In [68]:
kto_201901['국적'].unique()

array(['아시아주', '일본', '대만', '홍콩', '마카오', '태국', '말레이시아', '필리핀', '인도네시아',
       '싱가포르', '미얀마', '베트남', '인도', '스리랑카', '파키스탄', '방글라데시', '캄보디아', '몽골',
       '중국', '이란', '이스라엘', '터키', '우즈베키스탄', '카자흐스탄', 'GCC', '아시아 기타', '미주',
       '미국', '캐나다', '멕시코', '브라질', '미주 기타', '구주', '영국', '독일', '프랑스',
       '네덜란드', '스웨덴', '스위스', '이탈리아', '덴마크', '노르웨이', '벨기에', '오스트리아', '스페인',
       '그리스', '포르투갈', '핀란드', '아일랜드', '우크라이나', '러시아', '크로아티아', '루마니아',
       '불가리아', '폴란드', '구주 기타', '대양주', '오스트레일리아', '뉴질랜드', '대양주 기타',
       '아프리카주', '남아프리카공화국', '아프리카 기타', '기타대륙', '국적미상', '교포소계', '교포'],
      dtype=object)

In [69]:
# 기준이 없으면 만든다
continents = ['아시아주', '미주', '구주', '대양주', '아프리카주', '기타대륙', '교포소계']
continents

['아시아주', '미주', '구주', '대양주', '아프리카주', '기타대륙', '교포소계']

In [95]:
# isin() 안에 있냐?
condition = kto_201901['국적'].isin(continents)
kto_201901[condition == False]

          국적      관광    상용    공용  유학/연수     기타       계     기준년월
1         일본  198805  2233   127    785   4576  206526  2019-01
2         대만   86393    74    22    180   1285   87954  2019-01
3         홍콩   34653    59     2     90   1092   35896  2019-01
4        마카오    2506     2     0     17     45    2570  2019-01
5         태국   34004    37   199     96   6998   41334  2019-01
6      말레이시아   19043    95     7     99   2821   22065  2019-01
7        필리핀   14279   211   161    184  15638   30473  2019-01
8      인도네시아   14183   136    38    187   4298   18842  2019-01
9       싱가포르    8372    94     8     48   1333    9855  2019-01
10       미얀마    1304    10    31     67   3877    5289  2019-01
11       베트남   10739   763   110   1667   6904   20183  2019-01
12        인도    2318  2656    46    177   3474    8671  2019-01
13      스리랑카     157    54     5     28   1043    1287  2019-01
14      파키스탄     238   178    10    193    413    1032  2019-01
15     방글라데시     149   126    27     97    848    1247  2019-01
16      캄보디아     635    39    55     51   1915    2695  2019-01
17        몽골    8358    77   304    484    562    9785  2019-01
18        중국  320113  2993   138   8793  60777  392814  2019-01
19        이란      60    45    10     23     46     184  2019-01
20      이스라엘     727    12     0      9     57     805  2019-01
21        터키     792    13    32     36    912    1785  2019-01
22    우즈베키스탄    1958   561     0    407   2828    5754  2019-01
23     카자흐스탄    2185    24     7     92   1266    3574  2019-01
24       GCC    1550    37    14     72    103    1776  2019-01
25    아시아 기타    1561   308    70    205   2410    4554  2019-01
27        미국   42989   418  2578    229  16523   62737  2019-01
28       캐나다    8034    57    30     43   4296   12460  2019-01
29       멕시코    1282    11     7     38    515    1853  2019-01
30       브라질    1136    16     9     41    403    1605  2019-01
31     미주 기타    1541    24    33    128    540    2266  2019-01
33        영국    7982   175    17     41   1933   10148  2019-01
34        독일    4925   278    19    177   1451    6850  2019-01
35       프랑스    3773   297    48    288   1168    5574  2019-01
36      네덜란드    1592    47    16     77    537    2269  2019-01
37       스웨덴     844    29     6     18     85     982  2019-01
38       스위스     613    18     0     19     97     747  2019-01
39      이탈리아    1968    83    17     40    623    2731  2019-01
40       덴마크     520    21     6     16    188     751  2019-01
41      노르웨이     552    66     4     28    151     801  2019-01
42       벨기에     490    24     4     22    169     709  2019-01
43     오스트리아     544     8     2     13    209     776  2019-01
44       스페인    1010    36    15     52    255    1368  2019-01
45       그리스     481    17     4      0    273     775  2019-01
46      포르투갈     416    14     0     13    121     564  2019-01
47       핀란드     412    23     1     18    405     859  2019-01
48      아일랜드     392    15     1      2    185     595  2019-01
49     우크라이나     593    58     3     28   1580    2262  2019-01
50       러시아   17260   181    37    191   7525   25194  2019-01
51     크로아티아     226    12     0      3    250     491  2019-01
52      루마니아     412     8     4      3    445     872  2019-01
53      불가리아     154     1     1     10    265     431  2019-01
54       폴란드     713    10     0     27    574    1324  2019-01
55     구주 기타    1809    44    25     91    996    2965  2019-01
57   오스트레일리아   12795    93    17     34   1346   14285  2019-01
58      뉴질랜드    2029    20    17      5    654    2725  2019-01
59    대양주 기타     555     3     4      0     52     614  2019-01
61  남아프리카공화국     368     9     1      6    616    1000  2019-01
62   아프리카 기타     768   718    90    206    908    2690  2019-01
64      국적미상      33     4     0      1     16      54  2019-01
66        교포       0     0     0      0  15526   15526  2019-01

In [98]:
kto_201901_ff = kto_201901[condition == False]
kto_201901_ff

          국적      관광    상용    공용  유학/연수     기타       계     기준년월
1         일본  198805  2233   127    785   4576  206526  2019-01
2         대만   86393    74    22    180   1285   87954  2019-01
3         홍콩   34653    59     2     90   1092   35896  2019-01
4        마카오    2506     2     0     17     45    2570  2019-01
5         태국   34004    37   199     96   6998   41334  2019-01
6      말레이시아   19043    95     7     99   2821   22065  2019-01
7        필리핀   14279   211   161    184  15638   30473  2019-01
8      인도네시아   14183   136    38    187   4298   18842  2019-01
9       싱가포르    8372    94     8     48   1333    9855  2019-01
10       미얀마    1304    10    31     67   3877    5289  2019-01
11       베트남   10739   763   110   1667   6904   20183  2019-01
12        인도    2318  2656    46    177   3474    8671  2019-01
13      스리랑카     157    54     5     28   1043    1287  2019-01
14      파키스탄     238   178    10    193    413    1032  2019-01
15     방글라데시     149   126    27     97    848    1247  2019-01
16      캄보디아     635    39    55     51   1915    2695  2019-01
17        몽골    8358    77   304    484    562    9785  2019-01
18        중국  320113  2993   138   8793  60777  392814  2019-01
19        이란      60    45    10     23     46     184  2019-01
20      이스라엘     727    12     0      9     57     805  2019-01
21        터키     792    13    32     36    912    1785  2019-01
22    우즈베키스탄    1958   561     0    407   2828    5754  2019-01
23     카자흐스탄    2185    24     7     92   1266    3574  2019-01
24       GCC    1550    37    14     72    103    1776  2019-01
25    아시아 기타    1561   308    70    205   2410    4554  2019-01
27        미국   42989   418  2578    229  16523   62737  2019-01
28       캐나다    8034    57    30     43   4296   12460  2019-01
29       멕시코    1282    11     7     38    515    1853  2019-01
30       브라질    1136    16     9     41    403    1605  2019-01
31     미주 기타    1541    24    33    128    540    2266  2019-01
33        영국    7982   175    17     41   1933   10148  2019-01
34        독일    4925   278    19    177   1451    6850  2019-01
35       프랑스    3773   297    48    288   1168    5574  2019-01
36      네덜란드    1592    47    16     77    537    2269  2019-01
37       스웨덴     844    29     6     18     85     982  2019-01
38       스위스     613    18     0     19     97     747  2019-01
39      이탈리아    1968    83    17     40    623    2731  2019-01
40       덴마크     520    21     6     16    188     751  2019-01
41      노르웨이     552    66     4     28    151     801  2019-01
42       벨기에     490    24     4     22    169     709  2019-01
43     오스트리아     544     8     2     13    209     776  2019-01
44       스페인    1010    36    15     52    255    1368  2019-01
45       그리스     481    17     4      0    273     775  2019-01
46      포르투갈     416    14     0     13    121     564  2019-01
47       핀란드     412    23     1     18    405     859  2019-01
48      아일랜드     392    15     1      2    185     595  2019-01
49     우크라이나     593    58     3     28   1580    2262  2019-01
50       러시아   17260   181    37    191   7525   25194  2019-01
51     크로아티아     226    12     0      3    250     491  2019-01
52      루마니아     412     8     4      3    445     872  2019-01
53      불가리아     154     1     1     10    265     431  2019-01
54       폴란드     713    10     0     27    574    1324  2019-01
55     구주 기타    1809    44    25     91    996    2965  2019-01
57   오스트레일리아   12795    93    17     34   1346   14285  2019-01
58      뉴질랜드    2029    20    17      5    654    2725  2019-01
59    대양주 기타     555     3     4      0     52     614  2019-01
61  남아프리카공화국     368     9     1      6    616    1000  2019-01
62   아프리카 기타     768   718    90    206    908    2690  2019-01
64      국적미상      33     4     0      1     16      54  2019-01
66        교포       0     0     0      0  15526   15526  2019-01

In [113]:
kto_201901_nat_index = kto_201901_ff.reset_index(drop = True)
kto_201901_nat_index

          국적      관광    상용    공용  유학/연수     기타       계     기준년월
0         일본  198805  2233   127    785   4576  206526  2019-01
1         대만   86393    74    22    180   1285   87954  2019-01
2         홍콩   34653    59     2     90   1092   35896  2019-01
3        마카오    2506     2     0     17     45    2570  2019-01
4         태국   34004    37   199     96   6998   41334  2019-01
5      말레이시아   19043    95     7     99   2821   22065  2019-01
6        필리핀   14279   211   161    184  15638   30473  2019-01
7      인도네시아   14183   136    38    187   4298   18842  2019-01
8       싱가포르    8372    94     8     48   1333    9855  2019-01
9        미얀마    1304    10    31     67   3877    5289  2019-01
10       베트남   10739   763   110   1667   6904   20183  2019-01
11        인도    2318  2656    46    177   3474    8671  2019-01
12      스리랑카     157    54     5     28   1043    1287  2019-01
13      파키스탄     238   178    10    193    413    1032  2019-01
14     방글라데시     149   126    27     97    848    1247  2019-01
15      캄보디아     635    39    55     51   1915    2695  2019-01
16        몽골    8358    77   304    484    562    9785  2019-01
17        중국  320113  2993   138   8793  60777  392814  2019-01
18        이란      60    45    10     23     46     184  2019-01
19      이스라엘     727    12     0      9     57     805  2019-01
20        터키     792    13    32     36    912    1785  2019-01
21    우즈베키스탄    1958   561     0    407   2828    5754  2019-01
22     카자흐스탄    2185    24     7     92   1266    3574  2019-01
23       GCC    1550    37    14     72    103    1776  2019-01
24    아시아 기타    1561   308    70    205   2410    4554  2019-01
25        미국   42989   418  2578    229  16523   62737  2019-01
26       캐나다    8034    57    30     43   4296   12460  2019-01
27       멕시코    1282    11     7     38    515    1853  2019-01
28       브라질    1136    16     9     41    403    1605  2019-01
29     미주 기타    1541    24    33    128    540    2266  2019-01
30        영국    7982   175    17     41   1933   10148  2019-01
31        독일    4925   278    19    177   1451    6850  2019-01
32       프랑스    3773   297    48    288   1168    5574  2019-01
33      네덜란드    1592    47    16     77    537    2269  2019-01
34       스웨덴     844    29     6     18     85     982  2019-01
35       스위스     613    18     0     19     97     747  2019-01
36      이탈리아    1968    83    17     40    623    2731  2019-01
37       덴마크     520    21     6     16    188     751  2019-01
38      노르웨이     552    66     4     28    151     801  2019-01
39       벨기에     490    24     4     22    169     709  2019-01
40     오스트리아     544     8     2     13    209     776  2019-01
41       스페인    1010    36    15     52    255    1368  2019-01
42       그리스     481    17     4      0    273     775  2019-01
43      포르투갈     416    14     0     13    121     564  2019-01
44       핀란드     412    23     1     18    405     859  2019-01
45      아일랜드     392    15     1      2    185     595  2019-01
46     우크라이나     593    58     3     28   1580    2262  2019-01
47       러시아   17260   181    37    191   7525   25194  2019-01
48     크로아티아     226    12     0      3    250     491  2019-01
49      루마니아     412     8     4      3    445     872  2019-01
50      불가리아     154     1     1     10    265     431  2019-01
51       폴란드     713    10     0     27    574    1324  2019-01
52     구주 기타    1809    44    25     91    996    2965  2019-01
53   오스트레일리아   12795    93    17     34   1346   14285  2019-01
54      뉴질랜드    2029    20    17      5    654    2725  2019-01
55    대양주 기타     555     3     4      0     52     614  2019-01
56  남아프리카공화국     368     9     1      6    616    1000  2019-01
57   아프리카 기타     768   718    90    206    908    2690  2019-01
58      국적미상      33     4     0      1     16      54  2019-01
59        교포       0     0     0      0  15526   15526  2019-01

In [114]:
kto_201901_nat_index

          국적      관광    상용    공용  유학/연수     기타       계     기준년월
0         일본  198805  2233   127    785   4576  206526  2019-01
1         대만   86393    74    22    180   1285   87954  2019-01
2         홍콩   34653    59     2     90   1092   35896  2019-01
3        마카오    2506     2     0     17     45    2570  2019-01
4         태국   34004    37   199     96   6998   41334  2019-01
5      말레이시아   19043    95     7     99   2821   22065  2019-01
6        필리핀   14279   211   161    184  15638   30473  2019-01
7      인도네시아   14183   136    38    187   4298   18842  2019-01
8       싱가포르    8372    94     8     48   1333    9855  2019-01
9        미얀마    1304    10    31     67   3877    5289  2019-01
10       베트남   10739   763   110   1667   6904   20183  2019-01
11        인도    2318  2656    46    177   3474    8671  2019-01
12      스리랑카     157    54     5     28   1043    1287  2019-01
13      파키스탄     238   178    10    193    413    1032  2019-01
14     방글라데시     149   126    27     97    848    1247  2019-01
15      캄보디아     635    39    55     51   1915    2695  2019-01
16        몽골    8358    77   304    484    562    9785  2019-01
17        중국  320113  2993   138   8793  60777  392814  2019-01
18        이란      60    45    10     23     46     184  2019-01
19      이스라엘     727    12     0      9     57     805  2019-01
20        터키     792    13    32     36    912    1785  2019-01
21    우즈베키스탄    1958   561     0    407   2828    5754  2019-01
22     카자흐스탄    2185    24     7     92   1266    3574  2019-01
23       GCC    1550    37    14     72    103    1776  2019-01
24    아시아 기타    1561   308    70    205   2410    4554  2019-01
25        미국   42989   418  2578    229  16523   62737  2019-01
26       캐나다    8034    57    30     43   4296   12460  2019-01
27       멕시코    1282    11     7     38    515    1853  2019-01
28       브라질    1136    16     9     41    403    1605  2019-01
29     미주 기타    1541    24    33    128    540    2266  2019-01
30        영국    7982   175    17     41   1933   10148  2019-01
31        독일    4925   278    19    177   1451    6850  2019-01
32       프랑스    3773   297    48    288   1168    5574  2019-01
33      네덜란드    1592    47    16     77    537    2269  2019-01
34       스웨덴     844    29     6     18     85     982  2019-01
35       스위스     613    18     0     19     97     747  2019-01
36      이탈리아    1968    83    17     40    623    2731  2019-01
37       덴마크     520    21     6     16    188     751  2019-01
38      노르웨이     552    66     4     28    151     801  2019-01
39       벨기에     490    24     4     22    169     709  2019-01
40     오스트리아     544     8     2     13    209     776  2019-01
41       스페인    1010    36    15     52    255    1368  2019-01
42       그리스     481    17     4      0    273     775  2019-01
43      포르투갈     416    14     0     13    121     564  2019-01
44       핀란드     412    23     1     18    405     859  2019-01
45      아일랜드     392    15     1      2    185     595  2019-01
46     우크라이나     593    58     3     28   1580    2262  2019-01
47       러시아   17260   181    37    191   7525   25194  2019-01
48     크로아티아     226    12     0      3    250     491  2019-01
49      루마니아     412     8     4      3    445     872  2019-01
50      불가리아     154     1     1     10    265     431  2019-01
51       폴란드     713    10     0     27    574    1324  2019-01
52     구주 기타    1809    44    25     91    996    2965  2019-01
53   오스트레일리아   12795    93    17     34   1346   14285  2019-01
54      뉴질랜드    2029    20    17      5    654    2725  2019-01
55    대양주 기타     555     3     4      0     52     614  2019-01
56  남아프리카공화국     368     9     1      6    616    1000  2019-01
57   아프리카 기타     768   718    90    206    908    2690  2019-01
58      국적미상      33     4     0      1     16      54  2019-01
59        교포       0     0     0      0  15526   15526  2019-01

In [115]:
# 대륙 컬럼을 만들어 국가의 대륙을 표시

In [128]:
kto_201901['국적'].unique()

array(['아시아주', '일본', '대만', '홍콩', '마카오', '태국', '말레이시아', '필리핀', '인도네시아',
       '싱가포르', '미얀마', '베트남', '인도', '스리랑카', '파키스탄', '방글라데시', '캄보디아', '몽골',
       '중국', '이란', '이스라엘', '터키', '우즈베키스탄', '카자흐스탄', 'GCC', '아시아 기타', '미주',
       '미국', '캐나다', '멕시코', '브라질', '미주 기타', '구주', '영국', '독일', '프랑스',
       '네덜란드', '스웨덴', '스위스', '이탈리아', '덴마크', '노르웨이', '벨기에', '오스트리아', '스페인',
       '그리스', '포르투갈', '핀란드', '아일랜드', '우크라이나', '러시아', '크로아티아', '루마니아',
       '불가리아', '폴란드', '구주 기타', '대양주', '오스트레일리아', '뉴질랜드', '대양주 기타',
       '아프리카주', '남아프리카공화국', '아프리카 기타', '기타대륙', '국적미상', '교포소계', '교포'],
      dtype=object)

In [117]:
asia = ['일본', '대만', '홍콩', '마카오', '태국', '말레이시아', '필리핀', '인도네시아',
       '싱가포르', '미얀마', '베트남', '인도', '스리랑카', '파키스탄', '방글라데시', '캄보디아', '몽골',
       '중국', '이란', '이스라엘', '터키', '우즈베키스탄', '카자흐스탄', 'GCC', '아시아 기타']
len(asia)

25

In [118]:
ame = ['미국', '캐나다', '멕시코', '브라질', '미주 기타']
len(ame)

5

In [119]:
eu = ['영국', '독일', '프랑스',
       '네덜란드', '스웨덴', '스위스', '이탈리아', '덴마크', '노르웨이', '벨기에', '오스트리아', '스페인',
       '그리스', '포르투갈', '핀란드', '아일랜드', '우크라이나', '러시아', '크로아티아', '루마니아',
       '불가리아', '폴란드', '구주 기타']
len(eu)

23

In [120]:
oce = ['오스트레일리아', '뉴질랜드', '대양주 기타']
len(oce)

3

In [121]:
afr = ['남아프리카공화국', '아프리카 기타']
len(afr)

2

In [126]:
len(afr) + len(oce) + len(ame) + len(asia) + len(eu)

58

In [131]:
connames = ['아시아'] * 25 + ['아메리카'] * 5 + ['유럽'] * 23 + ['오세아니아'] * 3\
+ ['아프리카'] * 2 + ['기타대륙'] + ['교포']
connames

['아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아시아',
 '아메리카',
 '아메리카',
 '아메리카',
 '아메리카',
 '아메리카',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '유럽',
 '오세아니아',
 '오세아니아',
 '오세아니아',
 '아프리카',
 '아프리카',
 '기타대륙',
 '교포']

In [133]:
kto_201901_nat_index['대륙'] = connames
kto_201901_nat_index.head()

    국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙
0   일본  198805  2233  127    785  4576  206526  2019-01  아시아
1   대만   86393    74   22    180  1285   87954  2019-01  아시아
2   홍콩   34653    59    2     90  1092   35896  2019-01  아시아
3  마카오    2506     2    0     17    45    2570  2019-01  아시아
4   태국   34004    37  199     96  6998   41334  2019-01  아시아

In [139]:
kto_201901_nat_index['관광객비율(%)'] = round(kto_201901_nat_index['관광'] / kto_201901_nat_index['계'] * 100, 1)
kto_201901_nat_index

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%)
0,일본,198805,2233,127,785,4576,206526,2019-01,아시아,96.3
1,대만,86393,74,22,180,1285,87954,2019-01,아시아,98.2
2,홍콩,34653,59,2,90,1092,35896,2019-01,아시아,96.5
3,마카오,2506,2,0,17,45,2570,2019-01,아시아,97.5
4,태국,34004,37,199,96,6998,41334,2019-01,아시아,82.3
5,말레이시아,19043,95,7,99,2821,22065,2019-01,아시아,86.3
6,필리핀,14279,211,161,184,15638,30473,2019-01,아시아,46.9
7,인도네시아,14183,136,38,187,4298,18842,2019-01,아시아,75.3
8,싱가포르,8372,94,8,48,1333,9855,2019-01,아시아,85.0
9,미얀마,1304,10,31,67,3877,5289,2019-01,아시아,24.7
10,베트남,10739,763,110,1667,6904,20183,2019-01,아시아,53.2
11,인도,2318,2656,46,177,3474,8671,2019-01,아시아,26.7
12,스리랑카,157,54,5,28,1043,1287,2019-01,아시아,12.2
13,파키스탄,238,178,10,193,413,1032,2019-01,아시아,23.1
14,방글라데시,149,126,27,97,848,1247,2019-01,아시아,11.9
15,캄보디아,635,39,55,51,1915,2695,2019-01,아시아,23.6
16,몽골,8358,77,304,484,562,9785,2019-01,아시아,85.4
17,중국,320113,2993,138,8793,60777,392814,2019-01,아시아,81.5
18,이란,60,45,10,23,46,184,2019-01,아시아,32.6
19,이스라엘,727,12,0,9,57,805,2019-01,아시아,90.3
20,터키,792,13,32,36,912,1785,2019-01,아시아,44.4
21,우즈베키스탄,1958,561,0,407,2828,5754,2019-01,아시아,34.0
22,카자흐스탄,2185,24,7,92,1266,3574,2019-01,아시아,61.1
23,GCC,1550,37,14,72,103,1776,2019-01,아시아,87.3
24,아시아 기타,1561,308,70,205,2410,4554,2019-01,아시아,34.3
25,미국,42989,418,2578,229,16523,62737,2019-01,아메리카,68.5
26,캐나다,8034,57,30,43,4296,12460,2019-01,아메리카,64.5
27,멕시코,1282,11,7,38,515,1853,2019-01,아메리카,69.2
28,브라질,1136,16,9,41,403,1605,2019-01,아메리카,70.8
29,미주 기타,1541,24,33,128,540,2266,2019-01,아메리카,68.0
30,영국,7982,175,17,41,1933,10148,2019-01,유럽,78.7
31,독일,4925,278,19,177,1451,6850,2019-01,유럽,71.9
32,프랑스,3773,297,48,288,1168,5574,2019-01,유럽,67.7
33,네덜란드,1592,47,16,77,537,2269,2019-01,유럽,70.2
34,스웨덴,844,29,6,18,85,982,2019-01,유럽,85.9
35,스위스,613,18,0,19,97,747,2019-01,유럽,82.1
36,이탈리아,1968,83,17,40,623,2731,2019-01,유럽,72.1
37,덴마크,520,21,6,16,188,751,2019-01,유럽,69.2
38,노르웨이,552,66,4,28,151,801,2019-01,유럽,68.9
39,벨기에,490,24,4,22,169,709,2019-01,유럽,69.1
40,오스트리아,544,8,2,13,209,776,2019-01,유럽,70.1
41,스페인,1010,36,15,52,255,1368,2019-01,유럽,73.8
42,그리스,481,17,4,0,273,775,2019-01,유럽,62.1
43,포르투갈,416,14,0,13,121,564,2019-01,유럽,73.8
44,핀란드,412,23,1,18,405,859,2019-01,유럽,48.0
45,아일랜드,392,15,1,2,185,595,2019-01,유럽,65.9
46,우크라이나,593,58,3,28,1580,2262,2019-01,유럽,26.2
47,러시아,17260,181,37,191,7525,25194,2019-01,유럽,68.5
48,크로아티아,226,12,0,3,250,491,2019-01,유럽,46.0
49,루마니아,412,8,4,3,445,872,2019-01,유럽,47.2
50,불가리아,154,1,1,10,265,431,2019-01,유럽,35.7
51,폴란드,713,10,0,27,574,1324,2019-01,유럽,53.9
52,구주 기타,1809,44,25,91,996,2965,2019-01,유럽,61.0
53,오스트레일리아,12795,93,17,34,1346,14285,2019-01,오세아니아,89.6
54,뉴질랜드,2029,20,17,5,654,2725,2019-01,오세아니아,74.5
55,대양주 기타,555,3,4,0,52,614,2019-01,오세아니아,90.4
56,남아프리카공화국,368,9,1,6,616,1000,2019-01,아프리카,36.8
57,아프리카 기타,768,718,90,206,908,2690,2019-01,아프리카,28.6
58,국적미상,33,4,0,1,16,54,2019-01,기타대륙,61.1
59,교포,0,0,0,0,15526,15526,2019-01,교포,0.0

In [140]:
sum(kto_201901_nat_index['관광'])

884293

In [142]:
kto_201901_nat_index['전체비율(%)'] = round(kto_201901_nat_index['관광'] / sum(kto_201901_nat_index['관광']) * 100, 1)
kto_201901_nat_index

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%),전체비율(%)
0,일본,198805,2233,127,785,4576,206526,2019-01,아시아,96.3,22.5
1,대만,86393,74,22,180,1285,87954,2019-01,아시아,98.2,9.8
2,홍콩,34653,59,2,90,1092,35896,2019-01,아시아,96.5,3.9
3,마카오,2506,2,0,17,45,2570,2019-01,아시아,97.5,0.3
4,태국,34004,37,199,96,6998,41334,2019-01,아시아,82.3,3.8
5,말레이시아,19043,95,7,99,2821,22065,2019-01,아시아,86.3,2.2
6,필리핀,14279,211,161,184,15638,30473,2019-01,아시아,46.9,1.6
7,인도네시아,14183,136,38,187,4298,18842,2019-01,아시아,75.3,1.6
8,싱가포르,8372,94,8,48,1333,9855,2019-01,아시아,85.0,0.9
9,미얀마,1304,10,31,67,3877,5289,2019-01,아시아,24.7,0.1
10,베트남,10739,763,110,1667,6904,20183,2019-01,아시아,53.2,1.2
11,인도,2318,2656,46,177,3474,8671,2019-01,아시아,26.7,0.3
12,스리랑카,157,54,5,28,1043,1287,2019-01,아시아,12.2,0.0
13,파키스탄,238,178,10,193,413,1032,2019-01,아시아,23.1,0.0
14,방글라데시,149,126,27,97,848,1247,2019-01,아시아,11.9,0.0
15,캄보디아,635,39,55,51,1915,2695,2019-01,아시아,23.6,0.1
16,몽골,8358,77,304,484,562,9785,2019-01,아시아,85.4,0.9
17,중국,320113,2993,138,8793,60777,392814,2019-01,아시아,81.5,36.2
18,이란,60,45,10,23,46,184,2019-01,아시아,32.6,0.0
19,이스라엘,727,12,0,9,57,805,2019-01,아시아,90.3,0.1
20,터키,792,13,32,36,912,1785,2019-01,아시아,44.4,0.1
21,우즈베키스탄,1958,561,0,407,2828,5754,2019-01,아시아,34.0,0.2
22,카자흐스탄,2185,24,7,92,1266,3574,2019-01,아시아,61.1,0.2
23,GCC,1550,37,14,72,103,1776,2019-01,아시아,87.3,0.2
24,아시아 기타,1561,308,70,205,2410,4554,2019-01,아시아,34.3,0.2
25,미국,42989,418,2578,229,16523,62737,2019-01,아메리카,68.5,4.9
26,캐나다,8034,57,30,43,4296,12460,2019-01,아메리카,64.5,0.9
27,멕시코,1282,11,7,38,515,1853,2019-01,아메리카,69.2,0.1
28,브라질,1136,16,9,41,403,1605,2019-01,아메리카,70.8,0.1
29,미주 기타,1541,24,33,128,540,2266,2019-01,아메리카,68.0,0.2
30,영국,7982,175,17,41,1933,10148,2019-01,유럽,78.7,0.9
31,독일,4925,278,19,177,1451,6850,2019-01,유럽,71.9,0.6
32,프랑스,3773,297,48,288,1168,5574,2019-01,유럽,67.7,0.4
33,네덜란드,1592,47,16,77,537,2269,2019-01,유럽,70.2,0.2
34,스웨덴,844,29,6,18,85,982,2019-01,유럽,85.9,0.1
35,스위스,613,18,0,19,97,747,2019-01,유럽,82.1,0.1
36,이탈리아,1968,83,17,40,623,2731,2019-01,유럽,72.1,0.2
37,덴마크,520,21,6,16,188,751,2019-01,유럽,69.2,0.1
38,노르웨이,552,66,4,28,151,801,2019-01,유럽,68.9,0.1
39,벨기에,490,24,4,22,169,709,2019-01,유럽,69.1,0.1
40,오스트리아,544,8,2,13,209,776,2019-01,유럽,70.1,0.1
41,스페인,1010,36,15,52,255,1368,2019-01,유럽,73.8,0.1
42,그리스,481,17,4,0,273,775,2019-01,유럽,62.1,0.1
43,포르투갈,416,14,0,13,121,564,2019-01,유럽,73.8,0.0
44,핀란드,412,23,1,18,405,859,2019-01,유럽,48.0,0.0
45,아일랜드,392,15,1,2,185,595,2019-01,유럽,65.9,0.0
46,우크라이나,593,58,3,28,1580,2262,2019-01,유럽,26.2,0.1
47,러시아,17260,181,37,191,7525,25194,2019-01,유럽,68.5,2.0
48,크로아티아,226,12,0,3,250,491,2019-01,유럽,46.0,0.0
49,루마니아,412,8,4,3,445,872,2019-01,유럽,47.2,0.0
50,불가리아,154,1,1,10,265,431,2019-01,유럽,35.7,0.0
51,폴란드,713,10,0,27,574,1324,2019-01,유럽,53.9,0.1
52,구주 기타,1809,44,25,91,996,2965,2019-01,유럽,61.0,0.2
53,오스트레일리아,12795,93,17,34,1346,14285,2019-01,오세아니아,89.6,1.4
54,뉴질랜드,2029,20,17,5,654,2725,2019-01,오세아니아,74.5,0.2
55,대양주 기타,555,3,4,0,52,614,2019-01,오세아니아,90.4,0.1
56,남아프리카공화국,368,9,1,6,616,1000,2019-01,아프리카,36.8,0.0
57,아프리카 기타,768,718,90,206,908,2690,2019-01,아프리카,28.6,0.1
58,국적미상,33,4,0,1,16,54,2019-01,기타대륙,61.1,0.0
59,교포,0,0,0,0,15526,15526,2019-01,교포,0.0,0.0

In [156]:
kto_201901_nat_index.sort_values('전체비율(%)', ascending = False).head()

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%),전체비율(%)
17,중국,320113,2993,138,8793,60777,392814,2019-01,아시아,81.5,36.2
0,일본,198805,2233,127,785,4576,206526,2019-01,아시아,96.3,22.5
1,대만,86393,74,22,180,1285,87954,2019-01,아시아,98.2,9.8
25,미국,42989,418,2578,229,16523,62737,2019-01,아메리카,68.5,4.9
2,홍콩,34653,59,2,90,1092,35896,2019-01,아시아,96.5,3.9

In [172]:
for i in range(13):
    if i == 0:
        pass
    else:
        print("kto_2010",i,'.xlsx')

kto_2010 1 .xlsx
kto_2010 2 .xlsx
kto_2010 3 .xlsx
kto_2010 4 .xlsx
kto_2010 5 .xlsx
kto_2010 6 .xlsx
kto_2010 7 .xlsx
kto_2010 8 .xlsx
kto_2010 9 .xlsx
kto_2010 10 .xlsx
kto_2010 11 .xlsx
kto_2010 12 .xlsx

In [184]:
list = []
for i in range(13):
    if i == 0 :
        pass
    elif i < 10 :
        list.append('0' + str(i))
    else :
        list.append(str(i))
print(list)

['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']

In [185]:
for i in list :
    print("kto_2010" + i + '.xlsx')

kto_201001.xlsx
kto_201002.xlsx
kto_201003.xlsx
kto_201004.xlsx
kto_201005.xlsx
kto_201006.xlsx
kto_201007.xlsx
kto_201008.xlsx
kto_201009.xlsx
kto_201010.xlsx
kto_201011.xlsx
kto_201012.xlsx

In [214]:
files = []
for i in range(10):
    year = 'kto_201' + str(i)
    for j in range(1, 13):
        if j < 10 :
            print(year + '0' + str(j) + '.xlsx')
            files.append(year + '0' + str(j) + '.xlsx')
        else :
            print(year + str(j) + '.xlsx')
            files.append(year + str(j) + '.xlsx')

kto_201001.xlsx
kto_201002.xlsx
kto_201003.xlsx
kto_201004.xlsx
kto_201005.xlsx
kto_201006.xlsx
kto_201007.xlsx
kto_201008.xlsx
kto_201009.xlsx
kto_201010.xlsx
kto_201011.xlsx
kto_201012.xlsx
kto_201101.xlsx
kto_201102.xlsx
kto_201103.xlsx
kto_201104.xlsx
kto_201105.xlsx
kto_201106.xlsx
kto_201107.xlsx
kto_201108.xlsx
kto_201109.xlsx
kto_201110.xlsx
kto_201111.xlsx
kto_201112.xlsx
kto_201201.xlsx
kto_201202.xlsx
kto_201203.xlsx
kto_201204.xlsx
kto_201205.xlsx
kto_201206.xlsx
kto_201207.xlsx
kto_201208.xlsx
kto_201209.xlsx
kto_201210.xlsx
kto_201211.xlsx
kto_201212.xlsx
kto_201301.xlsx
kto_201302.xlsx
kto_201303.xlsx
kto_201304.xlsx
kto_201305.xlsx
kto_201306.xlsx
kto_201307.xlsx
kto_201308.xlsx
kto_201309.xlsx
kto_201310.xlsx
kto_201311.xlsx
kto_201312.xlsx
kto_201401.xlsx
kto_201402.xlsx
kto_201403.xlsx
kto_201404.xlsx
kto_201405.xlsx
kto_201406.xlsx
kto_201407.xlsx
kto_201408.xlsx
kto_201409.xlsx
kto_201410.xlsx
kto_201411.xlsx
kto_201412.xlsx
kto_201501.xlsx
kto_201502.xlsx
kto_201503.xlsx
kto_201504.xlsx
kto_201505.xlsx
kto_201506.xlsx
kto_201507.xlsx
kto_201508.xlsx
kto_201509.xlsx
kto_201510.xlsx
kto_201511.xlsx
kto_201512.xlsx
kto_201601.xlsx
kto_201602.xlsx
kto_201603.xlsx
kto_201604.xlsx
kto_201605.xlsx
kto_201606.xlsx
kto_201607.xlsx
kto_201608.xlsx
kto_201609.xlsx
kto_201610.xlsx
kto_201611.xlsx
kto_201612.xlsx
kto_201701.xlsx
kto_201702.xlsx
kto_201703.xlsx
kto_201704.xlsx
kto_201705.xlsx
kto_201706.xlsx
kto_201707.xlsx
kto_201708.xlsx
kto_201709.xlsx
kto_201710.xlsx
kto_201711.xlsx
kto_201712.xlsx
kto_201801.xlsx
kto_201802.xlsx
kto_201803.xlsx
kto_201804.xlsx
kto_201805.xlsx
kto_201806.xlsx
kto_201807.xlsx
kto_201808.xlsx
kto_201809.xlsx
kto_201810.xlsx
kto_201811.xlsx
kto_201812.xlsx
kto_201901.xlsx
kto_201902.xlsx
kto_201903.xlsx
kto_201904.xlsx
kto_201905.xlsx
kto_201906.xlsx
kto_201907.xlsx
kto_201908.xlsx
kto_201909.xlsx
kto_201910.xlsx
kto_201911.xlsx
kto_201912.xlsx

In [215]:
files

['kto_201001.xlsx',
 'kto_201002.xlsx',
 'kto_201003.xlsx',
 'kto_201004.xlsx',
 'kto_201005.xlsx',
 'kto_201006.xlsx',
 'kto_201007.xlsx',
 'kto_201008.xlsx',
 'kto_201009.xlsx',
 'kto_201010.xlsx',
 'kto_201011.xlsx',
 'kto_201012.xlsx',
 'kto_201101.xlsx',
 'kto_201102.xlsx',
 'kto_201103.xlsx',
 'kto_201104.xlsx',
 'kto_201105.xlsx',
 'kto_201106.xlsx',
 'kto_201107.xlsx',
 'kto_201108.xlsx',
 'kto_201109.xlsx',
 'kto_201110.xlsx',
 'kto_201111.xlsx',
 'kto_201112.xlsx',
 'kto_201201.xlsx',
 'kto_201202.xlsx',
 'kto_201203.xlsx',
 'kto_201204.xlsx',
 'kto_201205.xlsx',
 'kto_201206.xlsx',
 'kto_201207.xlsx',
 'kto_201208.xlsx',
 'kto_201209.xlsx',
 'kto_201210.xlsx',
 'kto_201211.xlsx',
 'kto_201212.xlsx',
 'kto_201301.xlsx',
 'kto_201302.xlsx',
 'kto_201303.xlsx',
 'kto_201304.xlsx',
 'kto_201305.xlsx',
 'kto_201306.xlsx',
 'kto_201307.xlsx',
 'kto_201308.xlsx',
 'kto_201309.xlsx',
 'kto_201310.xlsx',
 'kto_201311.xlsx',
 'kto_201312.xlsx',
 'kto_201401.xlsx',
 'kto_201402.xlsx',
 'kto_201403.xlsx',
 'kto_201404.xlsx',
 'kto_201405.xlsx',
 'kto_201406.xlsx',
 'kto_201407.xlsx',
 'kto_201408.xlsx',
 'kto_201409.xlsx',
 'kto_201410.xlsx',
 'kto_201411.xlsx',
 'kto_201412.xlsx',
 'kto_201501.xlsx',
 'kto_201502.xlsx',
 'kto_201503.xlsx',
 'kto_201504.xlsx',
 'kto_201505.xlsx',
 'kto_201506.xlsx',
 'kto_201507.xlsx',
 'kto_201508.xlsx',
 'kto_201509.xlsx',
 'kto_201510.xlsx',
 'kto_201511.xlsx',
 'kto_201512.xlsx',
 'kto_201601.xlsx',
 'kto_201602.xlsx',
 'kto_201603.xlsx',
 'kto_201604.xlsx',
 'kto_201605.xlsx',
 'kto_201606.xlsx',
 'kto_201607.xlsx',
 'kto_201608.xlsx',
 'kto_201609.xlsx',
 'kto_201610.xlsx',
 'kto_201611.xlsx',
 'kto_201612.xlsx',
 'kto_201701.xlsx',
 'kto_201702.xlsx',
 'kto_201703.xlsx',
 'kto_201704.xlsx',
 'kto_201705.xlsx',
 'kto_201706.xlsx',
 'kto_201707.xlsx',
 'kto_201708.xlsx',
 'kto_201709.xlsx',
 'kto_201710.xlsx',
 'kto_201711.xlsx',
 'kto_201712.xlsx',
 'kto_201801.xlsx',
 'kto_201802.xlsx',
 'kto_201803.xlsx',
 'kto_201804.xlsx',
 'kto_201805.xlsx',
 'kto_201806.xlsx',
 'kto_201807.xlsx',
 'kto_201808.xlsx',
 'kto_201809.xlsx',
 'kto_201810.xlsx',
 'kto_201811.xlsx',
 'kto_201812.xlsx',
 'kto_201901.xlsx',
 'kto_201902.xlsx',
 'kto_201903.xlsx',
 'kto_201904.xlsx',
 'kto_201905.xlsx',
 'kto_201906.xlsx',
 'kto_201907.xlsx',
 'kto_201908.xlsx',
 'kto_201909.xlsx',
 'kto_201910.xlsx',
 'kto_201911.xlsx',
 'kto_201912.xlsx']

In [221]:
del files[-4:]

In [223]:
files

['kto_201001.xlsx',
 'kto_201002.xlsx',
 'kto_201003.xlsx',
 'kto_201004.xlsx',
 'kto_201005.xlsx',
 'kto_201006.xlsx',
 'kto_201007.xlsx',
 'kto_201008.xlsx',
 'kto_201009.xlsx',
 'kto_201010.xlsx',
 'kto_201011.xlsx',
 'kto_201012.xlsx',
 'kto_201101.xlsx',
 'kto_201102.xlsx',
 'kto_201103.xlsx',
 'kto_201104.xlsx',
 'kto_201105.xlsx',
 'kto_201106.xlsx',
 'kto_201107.xlsx',
 'kto_201108.xlsx',
 'kto_201109.xlsx',
 'kto_201110.xlsx',
 'kto_201111.xlsx',
 'kto_201112.xlsx',
 'kto_201201.xlsx',
 'kto_201202.xlsx',
 'kto_201203.xlsx',
 'kto_201204.xlsx',
 'kto_201205.xlsx',
 'kto_201206.xlsx',
 'kto_201207.xlsx',
 'kto_201208.xlsx',
 'kto_201209.xlsx',
 'kto_201210.xlsx',
 'kto_201211.xlsx',
 'kto_201212.xlsx',
 'kto_201301.xlsx',
 'kto_201302.xlsx',
 'kto_201303.xlsx',
 'kto_201304.xlsx',
 'kto_201305.xlsx',
 'kto_201306.xlsx',
 'kto_201307.xlsx',
 'kto_201308.xlsx',
 'kto_201309.xlsx',
 'kto_201310.xlsx',
 'kto_201311.xlsx',
 'kto_201312.xlsx',
 'kto_201401.xlsx',
 'kto_201402.xlsx',
 'kto_201403.xlsx',
 'kto_201404.xlsx',
 'kto_201405.xlsx',
 'kto_201406.xlsx',
 'kto_201407.xlsx',
 'kto_201408.xlsx',
 'kto_201409.xlsx',
 'kto_201410.xlsx',
 'kto_201411.xlsx',
 'kto_201412.xlsx',
 'kto_201501.xlsx',
 'kto_201502.xlsx',
 'kto_201503.xlsx',
 'kto_201504.xlsx',
 'kto_201505.xlsx',
 'kto_201506.xlsx',
 'kto_201507.xlsx',
 'kto_201508.xlsx',
 'kto_201509.xlsx',
 'kto_201510.xlsx',
 'kto_201511.xlsx',
 'kto_201512.xlsx',
 'kto_201601.xlsx',
 'kto_201602.xlsx',
 'kto_201603.xlsx',
 'kto_201604.xlsx',
 'kto_201605.xlsx',
 'kto_201606.xlsx',
 'kto_201607.xlsx',
 'kto_201608.xlsx',
 'kto_201609.xlsx',
 'kto_201610.xlsx',
 'kto_201611.xlsx',
 'kto_201612.xlsx',
 'kto_201701.xlsx',
 'kto_201702.xlsx',
 'kto_201703.xlsx',
 'kto_201704.xlsx',
 'kto_201705.xlsx',
 'kto_201706.xlsx',
 'kto_201707.xlsx',
 'kto_201708.xlsx',
 'kto_201709.xlsx',
 'kto_201710.xlsx',
 'kto_201711.xlsx',
 'kto_201712.xlsx',
 'kto_201801.xlsx',
 'kto_201802.xlsx',
 'kto_201803.xlsx',
 'kto_201804.xlsx',
 'kto_201805.xlsx',
 'kto_201806.xlsx',
 'kto_201807.xlsx',
 'kto_201808.xlsx',
 'kto_201809.xlsx',
 'kto_201810.xlsx',
 'kto_201811.xlsx',
 'kto_201812.xlsx',
 'kto_201901.xlsx',
 'kto_201902.xlsx',
 'kto_201903.xlsx',
 'kto_201904.xlsx',
 'kto_201905.xlsx',
 'kto_201906.xlsx',
 'kto_201907.xlsx',
 'kto_201908.xlsx']

In [224]:
files[0]

'kto_201001.xlsx'

In [225]:
'./files/'+files[0]

'./files/kto_201001.xlsx'

In [235]:
for i in range(116):
    file_path = './files/' + files[i]
    df = pd.read_excel(file_path
                           , header = 1
                           , skipfooter = 4
                           , usecols = 'A:G')
    print(files[i], '파일의 행은', len(df), '개입니다.')

kto_201001.xlsx 파일의 행은 67 개입니다.
kto_201002.xlsx 파일의 행은 67 개입니다.
kto_201003.xlsx 파일의 행은 67 개입니다.
kto_201004.xlsx 파일의 행은 67 개입니다.
kto_201005.xlsx 파일의 행은 67 개입니다.
kto_201006.xlsx 파일의 행은 67 개입니다.
kto_201007.xlsx 파일의 행은 67 개입니다.
kto_201008.xlsx 파일의 행은 67 개입니다.
kto_201009.xlsx 파일의 행은 67 개입니다.
kto_201010.xlsx 파일의 행은 67 개입니다.
kto_201011.xlsx 파일의 행은 67 개입니다.
kto_201012.xlsx 파일의 행은 67 개입니다.
kto_201101.xlsx 파일의 행은 67 개입니다.
kto_201102.xlsx 파일의 행은 67 개입니다.
kto_201103.xlsx 파일의 행은 67 개입니다.
kto_201104.xlsx 파일의 행은 67 개입니다.
kto_201105.xlsx 파일의 행은 67 개입니다.
kto_201106.xlsx 파일의 행은 67 개입니다.
kto_201107.xlsx 파일의 행은 67 개입니다.
kto_201108.xlsx 파일의 행은 67 개입니다.
kto_201109.xlsx 파일의 행은 67 개입니다.
kto_201110.xlsx 파일의 행은 67 개입니다.
kto_201111.xlsx 파일의 행은 67 개입니다.
kto_201112.xlsx 파일의 행은 67 개입니다.
kto_201201.xlsx 파일의 행은 67 개입니다.
kto_201202.xlsx 파일의 행은 67 개입니다.
kto_201203.xlsx 파일의 행은 67 개입니다.
kto_201204.xlsx 파일의 행은 67 개입니다.
kto_201205.xlsx 파일의 행은 67 개입니다.
kto_201206.xlsx 파일의 행은 67 개입니다.
kto_201207.xlsx 파일의 행은 67 개입니다.
kto_201208.xlsx 파일의 행은 67 개입니다.
kto_201209.xlsx 파일의 행은 67 개입니다.
kto_201210.xlsx 파일의 행은 67 개입니다.
kto_201211.xlsx 파일의 행은 67 개입니다.
kto_201212.xlsx 파일의 행은 67 개입니다.
kto_201301.xlsx 파일의 행은 67 개입니다.
kto_201302.xlsx 파일의 행은 67 개입니다.
kto_201303.xlsx 파일의 행은 67 개입니다.
kto_201304.xlsx 파일의 행은 67 개입니다.
kto_201305.xlsx 파일의 행은 67 개입니다.
kto_201306.xlsx 파일의 행은 67 개입니다.
kto_201307.xlsx 파일의 행은 67 개입니다.
kto_201308.xlsx 파일의 행은 67 개입니다.
kto_201309.xlsx 파일의 행은 67 개입니다.
kto_201310.xlsx 파일의 행은 67 개입니다.
kto_201311.xlsx 파일의 행은 67 개입니다.
kto_201312.xlsx 파일의 행은 67 개입니다.
kto_201401.xlsx 파일의 행은 67 개입니다.
kto_201402.xlsx 파일의 행은 67 개입니다.
kto_201403.xlsx 파일의 행은 67 개입니다.
kto_201404.xlsx 파일의 행은 67 개입니다.
kto_201405.xlsx 파일의 행은 67 개입니다.
kto_201406.xlsx 파일의 행은 67 개입니다.
kto_201407.xlsx 파일의 행은 67 개입니다.
kto_201408.xlsx 파일의 행은 67 개입니다.
kto_201409.xlsx 파일의 행은 67 개입니다.
kto_201410.xlsx 파일의 행은 67 개입니다.
kto_201411.xlsx 파일의 행은 67 개입니다.
kto_201412.xlsx 파일의 행은 67 개입니다.
kto_201501.xlsx 파일의 행은 67 개입니다.
kto_201502.xlsx 파일의 행은 67 개입니다.
kto_201503.xlsx 파일의 행은 67 개입니다.
kto_201504.xlsx 파일의 행은 67 개입니다.
kto_201505.xlsx 파일의 행은 67 개입니다.
kto_201506.xlsx 파일의 행은 67 개입니다.
kto_201507.xlsx 파일의 행은 67 개입니다.
kto_201508.xlsx 파일의 행은 67 개입니다.
kto_201509.xlsx 파일의 행은 67 개입니다.
kto_201510.xlsx 파일의 행은 67 개입니다.
kto_201511.xlsx 파일의 행은 67 개입니다.
kto_201512.xlsx 파일의 행은 67 개입니다.
kto_201601.xlsx 파일의 행은 67 개입니다.
kto_201602.xlsx 파일의 행은 67 개입니다.
kto_201603.xlsx 파일의 행은 67 개입니다.
kto_201604.xlsx 파일의 행은 67 개입니다.
kto_201605.xlsx 파일의 행은 67 개입니다.
kto_201606.xlsx 파일의 행은 67 개입니다.
kto_201607.xlsx 파일의 행은 67 개입니다.
kto_201608.xlsx 파일의 행은 67 개입니다.
kto_201609.xlsx 파일의 행은 67 개입니다.
kto_201610.xlsx 파일의 행은 67 개입니다.
kto_201611.xlsx 파일의 행은 67 개입니다.
kto_201612.xlsx 파일의 행은 67 개입니다.
kto_201701.xlsx 파일의 행은 67 개입니다.
kto_201702.xlsx 파일의 행은 67 개입니다.
kto_201703.xlsx 파일의 행은 67 개입니다.
kto_201704.xlsx 파일의 행은 67 개입니다.
kto_201705.xlsx 파일의 행은 67 개입니다.
kto_201706.xlsx 파일의 행은 67 개입니다.
kto_201707.xlsx 파일의 행은 67 개입니다.
kto_201708.xlsx 파일의 행은 67 개입니다.
kto_201709.xlsx 파일의 행은 67 개입니다.
kto_201710.xlsx 파일의 행은 67 개입니다.
kto_201711.xlsx 파일의 행은 67 개입니다.
kto_201712.xlsx 파일의 행은 67 개입니다.
kto_201801.xlsx 파일의 행은 67 개입니다.
kto_201802.xlsx 파일의 행은 67 개입니다.
kto_201803.xlsx 파일의 행은 67 개입니다.
kto_201804.xlsx 파일의 행은 67 개입니다.
kto_201805.xlsx 파일의 행은 67 개입니다.
kto_201806.xlsx 파일의 행은 67 개입니다.
kto_201807.xlsx 파일의 행은 67 개입니다.
kto_201808.xlsx 파일의 행은 67 개입니다.
kto_201809.xlsx 파일의 행은 67 개입니다.
kto_201810.xlsx 파일의 행은 67 개입니다.
kto_201811.xlsx 파일의 행은 67 개입니다.
kto_201812.xlsx 파일의 행은 67 개입니다.
kto_201901.xlsx 파일의 행은 67 개입니다.
kto_201902.xlsx 파일의 행은 67 개입니다.
kto_201903.xlsx 파일의 행은 67 개입니다.
kto_201904.xlsx 파일의 행은 67 개입니다.
kto_201905.xlsx 파일의 행은 67 개입니다.
kto_201906.xlsx 파일의 행은 67 개입니다.
kto_201907.xlsx 파일의 행은 67 개입니다.
kto_201908.xlsx 파일의 행은 67 개입니다.

In [236]:
# '.files/kro_{}{}.xlsx'.format(yy, str(mm).zfill(2))

In [237]:
len(files)

116

In [238]:
# for yy in range(2010, 2020) :
#    for mm in range(1, 13) :
#        file_path = "./files/kto_{}{}.xlsx".format(yy, str(mm).zfill(2))
#        df = pd.read_excel(file_path, header=1, skipfooter=4, usecols="A:G")
#        print(len(df))